.container{
max-width: 900px;
margin: auto;

}
.row{
display: flex;

}

.colum1{
  width: 8.3333333333333%;
}
.colum2{
  width: 16.333333333333%;
}
.colum3{
  width: 24.999999999999%;
}
.colum4{
  width: 33.3333333333333%;
}
.colum5{
  width: 41.6666666666666%;
}
.colum6{
  width: 49.9999999999999%;
}
.colum7{
  width: 58.3333333333333%;
}
.colum8{
  width: 66.6666666666666%;
}
.colum9{
  width: 74.9999999999999%;
}
.colum10{
  width: 83.3333333333333%;
}
.colum12{
  width: 91.66666666666666%;
}
.colum12{
  width: 100%;
}
.colum1, .colum2, .colum3, .colum4, .colum5, .colum6, .colum7, .colum8, .colum9, .colum10, .colum11, .colum12{
  padding: 10px;
}
@media(max-width:900px) {
.row{
display: inherit;

}
  .colum1, .colum2, .colum3, .colum4, .colum5, .colum6, .colum7, .colum8, .colum9, .colum10, .colum11, .colum12{
    width: 100%;
  }
}
